<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TaskDB"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
                         AttachDbFilename=|DataDirectory|\TaskData.mdf;
                         Integrated Security=True;
                         Connect Timeout=30"
			 providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>